@keyframes ldio-yzaezf3dcmj {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}.ldio-yzaezf3dcmj div {
  position: absolute;
  border-width: 4px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio-yzaezf3dcmj 1.25s cubic-bezier(0,0.2,0.8,1) infinite;
}.ldio-yzaezf3dcmj div:nth-child(1) {
  border-color: #e82e28;
  animation-delay: 0s;
}
.ldio-yzaezf3dcmj div:nth-child(2) {
  border-color: #3ed33e;
  animation-delay: -0.625s;
}
.ldio-yzaezf3dcmj div:nth-child(3) {
  border-color: #033879;
  animation-delay: -0.625s;
}
.loadingio-spinner-ripple-2by998twmg8 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
  margin-top: clac(100%/2);
}
.ldio-yzaezf3dcmj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-yzaezf3dcmj div { box-sizing: content-box; }
