.slick-arrow::before {
    color: red;
    font-size: 20px;

}



.slick-dots li.slick-active button::before {
    color: rgb(235, 3, 3);
}

.slick-dots li button::before {

    transition: ease-in 0.2s;
}

.slick-slide>div {
    margin: 0 10px;
}

/*
@media(max-width: 1024px) {
    .slick-arrow::before {
        display: inline-block;
        color: red;
        font-size: 30px;
        margin: -90px
    }

} */